.Img{
  background-image: url("./assets/images/about.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:-55vh;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  flex-wrap: wrap;
  background-attachment: fixed;
}
.Txt{
   position: relative;
  color: azure;
  display: flex;
  font-size:190%;
  flex-wrap: wrap;
}
.imgTxt > div {
  padding: 0.15em;
}
.Txt1{
 color: azure;
 font-size:450%;
}
.a {
  color: azure;
  text-decoration: none;
}
