.purchase-nav-bar{
display: flex;
flex-direction:row ;
justify-content: space-between;
align-items: center;
padding: 1rem 2rem;
padding-right: 5rem;
}

.cart-purchase{
    font-size: 2rem;
}
.seeds-purchase-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fertilizers-purchase-area{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
}