.sidebar-container{
    padding: 10px;
    display: flex;
    width: 17vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;

}
.brand-logo-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar-icon{
    font-size: 30px;
}

.item-component{
    height: 40px;
    background-color: aqua;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.item-component-top{
    width: 100%;
    padding-bottom: 20px;
border-bottom: 2px solid green;
}
.item-title{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: large;
}

.item-icon, .item-arrow{
    font-size: 25px;
}
